@import "/assets/fonts/quicksand.css";

:root {
	--c-gray-100: #f6fafc;
	--c-gray-200: #e9f3f9;
	--c-gray-300: #dceaf3;
	--c-gray-400: #c5d8e2;
	--c-gray-500: #97b3bd;
	--c-gray-600: #6b8491;
	--c-gray-700: #425a66;
	--c-gray-800: #213d47;
	--c-gray-900: #0b2731;
	--c-magenta-100: #fff5f8;
	--c-magenta-200: #fed6e9;
	--c-magenta-300: #fdb2e1;
	--c-magenta-400: #fb7cde;
	--c-magenta-500: #fb50e9;
	--c-magenta-600: #ee26cd;
	--c-magenta-700: #d01eab;
	--c-magenta-800: #a21c81;
	--c-magenta-900: #75205f;
	--c-purple-100: #faf5ff;
	--c-purple-200: #e8d8fe;
	--c-purple-300: #d5bcfc;
	--c-purple-400: #b892fc;
	--c-purple-500: #a574fc;
	--c-purple-600: #8a4ff6;
	--c-purple-700: #733dda;
	--c-purple-800: #5b36ad;
	--c-purple-900: #463082;
	--c-teal-100: #ebfff7;
	--c-teal-200: #bcf6df;
	--c-teal-300: #8de6c7;
	--c-teal-400: #5bd2ab;
	--c-teal-500: #40b692;
	--c-teal-600: #349c7f;
	--c-teal-700: #2e7f6a;
	--c-teal-800: #286255;
	--c-teal-900: #225147;
	--c-yellow-100: #fffff1;
	--c-yellow-200: #fefbc5;
	--c-yellow-300: #fced91;
	--c-yellow-400: #fbdd5d;
	--c-yellow-500: #fbca1c;
	--c-yellow-600: #d6a312;
	--c-yellow-700: #b27e13;
	--c-yellow-800: #925d10;
	--c-yellow-900: #72430e;
}

:root {
  --flowtext-font: "Roboto", sans-serif;
	--title-font: "Quicksand",sans-serif;

  /* linear-gradient(180deg,rgba(60,0,110,.7),rgba(30,0,50,.5)) */
  --c-header: #2c0553;

  --c-background: linear-gradient(180deg, var(--c-header), #112); /*blue*/
  --c-flowtext: #fff;
  --c-title: var(--c-yellow-500);

  --c-background-alt: #112; /*gray*/
  --c-flowtext-alt: var(--c-flowtext);

  --c-decor: var(--c-purple-500); /*red*/
  --c-highlight: var(--c-yellow-500); /*yellow*/
  --c-highlight-text: #fff;

  --c-decor: var(--c-purple-500);
  --c-highlight: var(--c-magenta-400);
  --c-highlight-text: #FFF;

  --c-forms: var(--c-yellow-500);
}

.content button.sbc,
.sidebar-content button.sbc {
  letter-spacing: initial;
  font-size: 1.1rem;
}

/* .streambox__sidebar {
  background: rgba(12,0,36,.25);
} */

.activeContentTrigger {
}

body > main {
  display: grid;
  grid-template: auto 6rem / repeat(12, 1fr);
	gap: 1rem;
}
.ac {
	grid-row: 1;
	grid-column: auto/span calc(12/var(--acc));
	position: relative;
	width: 100%;
}
.ac:not([data-active="true"]) {
  grid-row: 2;
	grid-column: auto;
  place-self: center;
}
.ac .activeContentTrigger {
	display: block;
	position: relative;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 3rem;
	background-color: rgba(255,255,255,.1);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 2 12 7'%3E%3Cpath d='M2 2C1 2 0 3 0 4 0 5 4 9 6 9 8 9 12 5 12 4 12 3 11 2 10 2 9 2 8 5 6 5 4 5 3 2 2 2Z' fill='%23ffffff'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 2rem;
	background-position: center;
	border: none;
	border-radius: 0;
	font-size: 0;
  cursor: pointer;
	transition: .4s all;
}
.ac .activeContentTrigger:hover {
	background-color: var(--c-purple-800)
}

.ac:not([data-active="true"]) .activeContentTrigger {
	display: block;
	background-image: none;
	background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0;
  width: 8rem;
  height: 4rem;
  background-position: center;
  border: .5rem solid var(--c-purple-900);
  border-radius: .5rem;
}
.ac:not([data-active="true"]) .content {
  display: none;
}
.ac:not([data-active="true"]) .activeContentTrigger.ex-veloren {
  background-image: url('/assets/ex/veloren/logo.png');
  background-color: var(--c-purple-900);
	position: static;
	height: 3rem;
}
.ac:not([data-active="true"]) .activeContentTrigger.ex-paddlepunks {
  background-image: url('/assets/ex/paddlepunks/logo.png');
  background-color: var(--c-purple-900);
	position: static;
	height: 3rem;
}
.ac:not([data-active="true"]) .activeContentTrigger.ex-concordium {
  background-image: url('https://backend.rustfest.global/uploads/Concordium_Landscape_White_28da87782c.svg');
  background-color: var(--c-purple-900);
	position: static;
	height: 3rem;
}
.ac:not([data-active="true"]) .activeContentTrigger.stream {
	height: 100%;
}
.ac:not([data-active="true"]) .activeContentTrigger.fsb {
	color: white;
	font-size: .9rem;
	text-transform: uppercase;
	font-weight: bold;
	background: var(--c-purple-900);
}
