:root {
  --c-background: #FFF;
  --c-flowtext: #333;
  --c-title: #FF7500;

  --c-background-alt: #000;
  --c-flowtext-alt: #CCC;

  --c-decor: #FF7500;
  --c-highlight: #FF7500;
  --c-highlight-text: #FFF;


  --c-forms: #777;
}
