/*
Sourced via postcss.config:
@import "/assets/ex/ex.css";
@import "/assets/fonts/poppins.css";
*/

:root {
	--black: #000000;
	--dark-gray: #595959;
	--pink: #f4025b;
	--white: #ffffff;
	--transparent-white: rgba(255, 255, 255, 0.1);
	--transparent-gray: rgba(255, 255, 255, 0.4);
	--neon-green: #00ffc4;

	--deep-blue: #00e;
	--dark-blue: #006;
	--lightpink: #fbf;
    --light-blue: #8DD7FF;
	--blue-dark: #0E1025;
	--yellow: #FEC976;
	--green: #CADE39;
}

:root {
  --flowtext-font: monospace;
  --title-font: monospace;

  --c-header: var(--black);

  --c-background: linear-gradient(180deg, var(--c-header), var(--black)); /*blue*/
  --c-flowtext: var(--light-blue);
  --c-title: var(--white);

  --c-background-alt: rgba(0,0,0,.6); /*gray*/
  --c-flowtext-alt: var(--c-flowtext);

  --c-decor: var(--transparent-white); /*red*/
  --c-highlight: var(--light-blue); /*yellow*/
  --c-highlight-text: #fff;

  --c-forms: var(--light-blue);
}

.content button.sbc,
.sidebar-content button.sbc {
  letter-spacing: initial;
  font-size: 1.1rem;
}

/* .streambox__sidebar {
  background: rgba(12,0,36,.25);
} */

.activeContentTrigger {
}

body > main {
  display: grid;
  grid-template: auto 6rem / repeat(12, 1fr);
	gap: 1rem;
}


body {
	background-image: url(/assets/background.jpg);
	background-size: cover;
	background-position: top left;
	background-color: var(--black);
	background-repeat: no-repeat;
}

.sidebar-content h2, .sidebar-content h3 {
	color: var(--light-blue);
	/*text-shadow: 1px 1px 0px var(--pink),-1px -1px 0px var(--pink),1px -1px 0px var(--pink),-1px 1px 0px var(--pink),0 4px 21px var(--pink);*/
}

.content button.sbc,
.home-button,
.sidebar-content button.sbc {
	color: var(--deep-blue);
	font-size: 18px;
	font-family: monospace;
	letter-spacing: 0;
	text-align: center;
	line-height: 32px;
	border: 2px solid var(--dark-blue);
	border-radius: 0;
	padding: .75rem 2.5rem;
	margin-top: 1rem;
	border-radius: 2rem;

	/*display: flex;
	align-items: center;*/
}

.content button.sbc:not([disabled]):hover,
.home-button:not([disabled]):hover,
.sidebar-content button.sbc:not([disabled]):hover {
	background-color: var(--dark-gray);
	border-color: var(--pink);
	color: var(--c-highlight-text);
}

.sidebar-content button.sbc,
.sidebar-content button.sbc:not(:disabled) {
  background:linear-gradient(90deg, var(--yellow) 0%, var(--green) 100%);
  border: 2px solid var(--blue-dark);
  border-radius: 2rem;
  color: var(--blue-dark);
}
.sidebar-content button.sbc:disabled {
  opacity: .25;
}

.sidebar-content button.sbc:not(:disabled):hover {
  background:linear-gradient(90deg, var(--green) 0%, #f6d2d7 80%);
  color: var(--blue-dark);
}

.sidebar-content button.sbc.back, .sidebar-content button.sbc.back:not(:disabled) {
	background: none;
	border: none;
	color: var(--light-blue);
}

.sidebar-content button.sbc.back:not(:disabled):hover {
	color:(--white);
}

a {
	text-decoration-thickness: 2px;
}

/* Give some extra padding to the logo in the header */
header img {
  height: 85%;
  width: auto;
  margin: 4px;
}
