/* TODO: Technically this belongs to layout.css or a separate
   file connected to layout.css for video display (not just streaming)
*/
main > .video-js {
  height: 100%;
  width: 100%;

  margin: auto;  

  /* Blend the video player into the page background */
  background: var(--rust-blue);

  /* We will rely on the <video> element poster only */

  .vjs-poster {
    /*background-size: cover;*/
    display: none;
  }
}
