:root {
	--flowtext-font: "Roboto", sans-serif;
	--title-font: "Yanone Kaffeesatz", sans-serif;

  --c-background: #136; /*blue*/
  --c-flowtext: #fff;
  --c-title: #fff;

  --c-background-alt: #112244; /*gray*/
  --c-flowtext-alt: var(--c-flowtext);

  --c-decor: #be000e; /*red*/
  --c-highlight: #fdc600; /*yellow*/
  --c-highlight-text: #fff;

  --c-forms: #0cf;
  --c-header: white;
}

.video-js.vjs-waasabi {
  .vjs-big-play-button {
    background-image: url("/assets/playback.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-style: none;
    background-color: transparent;
    opacity: .5;

    line-height: 6rem;
    height: 6rem;
    width: 6rem;

    left: 50%;
    top: 50%;
    margin-left: -3rem;
    margin-top: -3rem;

    /* The code duplication is necessary because of browsers like
       Webkit who do not support :focus-visible */
    @supports selector(:focus-visible) {
      &:focus:not(:focus-visible) {
        background-image: url("/assets/playback.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        opacity: .8;
      }
    }

    /* Hide the placeholder icon */
    .vjs-icon-placeholder {
      opacity: 0;
    }
  }

  .vjs-big-play-button:focus,
  &:hover .vjs-big-play-button {
    border-color: transparent;
    background-color: transparent;

    opacity: 1;
  }
}


@keyframes rota {
  from {
    transform: rotate3d(-1,-1,-1,20deg);
  }
  to {
    transform: rotate3d(1,1,1,10deg);
  }
}

/* stream is offline */
.video-js.vjs-waasabi.nostream .vjs-big-play-button {
  background-image: url("/assets/zzz.svg");
  animation: 1.5s ease-in-out infinite alternate rota;
  opacity: .8;
  pointer-events: none;
  cursor: default;
}

.active_content_overlay {
  position: absolute;
  bottom: 0;
  z-index: 10;
  padding: .5rem;
  opacity: 1;
  width: 100%;
  text-align: center;
  pointer-events: none;

  max-height: calc(var(--active-content-w)/10);
  overflow: hidden;

  .notification {
    margin: 0;
    font-family: var(--title-font);
    font-size: calc(var(--active-content-w) / 32);
    color: var(--c-highlight);
    text-shadow:
    -.05em 0 var(--c-background),.05em 0 var(--c-background),
    0 -.05em var(--c-background),0 .05em var(--c-background),
    .05em .05em var(--c-background),-.05em -.05em var(--c-background),
    .05em -.05em var(--c-background),-.05em .05em var(--c-background);
  }

  .message {
    margin: 0;
    font-family: var(--flowtext-font);
    font-size: calc(var(--active-content-w) / 36);
    color: var(white);
    text-shadow:
    0 0 .1em black,
    -.05em 0 black,.05em 0 black,
    0 -.05em black,0 .05em black,
    .05em .05em black,-.05em -.05em black,
    .05em -.05em black,-.05em .05em black;
  }

}
